@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: white;
  background: #5f7462;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
}

body::after {
  background: url("../public/background/bg.png");
  background-size: contain;
}

body::before {
  min-height: 100vh;
  content: "";
  background-image: url("../public/background/texture1.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
