@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* width: 100vw; */
  color: white;
  background: #5F7462;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

body::after{
  background: url("../public/background/bg.png");
  background-size: contain;
}

body::before {
  content: '';
  background-image: url("../public/background/texture1.png");
  background-repeat: repeat;
  background-size: contain;
  background-blend-mode: soft-light;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}