.footer {
  display: flex;
  padding: 18px 50px;
  flex-direction: column;
  min-width: 100vw;
  align-items: center;
  gap: 64px;
  background: radial-gradient(circle, #3f3f3f, #333);
  flex-shrink: 0;
  filter: grayscale(90%);
}
