.footer {
  display: flex;
  padding: 18px 50px;
  flex-direction: column;
  min-width: 100vw;
  align-items: center;
  gap: 64px;
  flex-shrink: 0;
  /* background-color: #525252; */
  background-image: url("../../public/background/Aura.png");
  filter: grayscale(90%);
  object-fit: cover;
  background-blend-mode: luminosity, normal;
}
