@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideReverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.images {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  width: max-content;
}

.imageSlide1 {
  display: flex;
  gap: 2rem;
  animation: 180s slide infinite linear;
}

.imageSlide2 {
  display: flex;
  gap: 2rem;
  animation: 200s slideReverse infinite linear;
}

.imageSlide3 {
  display: flex;
  gap: 2rem;
  animation: 320s slide infinite linear;
}

.logoSlide Image {
  border-radius: 15px;
  margin: 0 15px;
  height: 200px;
  object-fit: cover;
}
